body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 99%;
    background-color: #333;
    color: #333;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    border-bottom: 2px solid #ddd;
    background: #ffffff;
    z-index: 1000;
    overflow: hidden;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-links {
    display: flex;
    flex-wrap: nowrap; /* Garante que os itens não quebrem para a linha seguinte */
}

.navbar-links a {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, border-radius 0.3s;
    border-radius: 4px;
}

.navbar-links a:hover {
    background-color: #c0e1f4;
    border-radius: 8px;
}

.main-content {
    width: 100%;
    margin-top: 55px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
}

.main-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Background/wppupa24h.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 1; 
}

.main-content > * {
    position: relative;
    z-index: 2;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.document-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.document-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column; /* Alinha os itens verticalmente */
    margin: 10px;
    padding: 8px;
    width: 150px;
    height: 180px; 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse o container */
}

.document-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.document-thumbnail {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 0%;
    border: 0;
}

.document-title {
    font-size: 1.1em;
    flex-grow: 1; /* Faz o título ocupar o espaço restante */
    overflow: hidden; /* Esconde o texto que não cabe na caixa */
    text-overflow: ellipsis; /* Adiciona reticências (...) ao final do texto, se for muito longo */
    color: #343a40;
    margin-right: 10px; /* Espaçamento entre o título e o botão */
}

.view-button {
    background-color: #6c757d; 
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-shrink: 0; /* Evita que o botão encolha */
    margin-top: auto; /* Garante que o botão fique na parte inferior */
    width: 100%; /* Faz o botão ocupar toda a largura do container */
}

.view-button:hover {
    background-color: #5a6268;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 90%;
    max-width: 1000px;
    max-height: 80%; /* Ajusta a altura máxima do modal */
    border-radius: 8px;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites do modal */
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
}

.modal-content {
    flex: 1; /* Permite que a área de visualização cresça e ocupe o espaço disponível */
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* Necessário para o posicionamento absoluto do botão */
}

.preview-frame {
    width: 100%;
    height: calc(87vh - 130px); /* Ajusta a altura para preencher o espaço disponível */
    border: none;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.download-button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: absolute; /* Posiciona o botão em relação ao modal-content */
    bottom: 0px; /* Alinha o botão na parte inferior do modal */
    left: 45%;
}

.download-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.download-button:active {
    transform: scale(0.95);
}

.close-button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.close-button:hover {
    background-color: #c82333;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.search-bar input::placeholder {
    text-align: center;
}
